<p id="notice"><%= notice %></p>

<h1>Serves</h1>

<table id="table" 
       data-toggle="table"
       data-query-params-type="page"
       data-search="false"
       data-pagination="true"
       data-pagination-loop ="false"
       data-side-pagination="server"
       data-url="serves.json">
  <thead>
    <tr>
      <th data-field="member_code" data-sortable="true">Code</th>
      <th data-field="member_fullname" >Fullname</th>
      <th data-field="date">Date</th>
      <th data-field="checkin_time" >Checkin Time</th>
      <th data-field="checkout_time" >Checkout Time</th>
    </tr>
  </thead>
<table>