<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h1>Members</h1>
  </div>
  <div class="col-md-6 text-right">
    <h1>
    <%= link_to 'New Member', new_member_path, class: "btn btn-default",role: "button" %>
    </h1>
  </div>
</div>

<br><br>

<table id="table" 
       data-toggle="table"
       data-query-params-type="page"
       data-search="true"
       data-pagination="true"
       data-pagination-loop ="false"
       data-side-pagination="server"
       data-url="members.json">
  <thead>
    <tr>
      <th data-field="code" data-sortable="true">Member</th>
      <th data-field="fullname" >Fullname</th>
      <th data-field="nickname" >Nickname</th>
      <th data-field="member_type" >Type</th>
      <th data-field="bdate">BoD</th>
      <th data-field="regisdate">Regis Date</th>
      <th data-field="expdate">EXP</th>
      <th data-field="pc_amount">PC Amount</th>
      <th data-field="pc_balance">PC Balance</th>
      <th data-field="edit"></th>
      <th data-field="remove"></th>
    </tr>
  </thead>
<table>